---
import CardGaleria from '@/components/galerias/CardGaleria.astro';
import PhotoSwipeUI from '@/components/galerias/PhotoSwipeUI.astro';
---

<main id="info-grupales-content" class="info-panel hidden px-6 pt-24 pb-12 md:pt-32 md:pb-20 max-w-5xl mx-auto mb-12">

    <section id="intro-contenido-clases" class="mb-16 md:mb-20 fade-in">
                <h2 class="font-title text-4xl md:text-5xl text-title-ink mb-12 text-center">Práctica Consciente y Transformadora</h2>

                <p class="text-lg text-ink mb-4 leading-relaxed">
                    Si buscás la motivación que surgen de practicar en conjunto, te invito a mis clases grupales de Tàijíquán y Qígōng. Un ambiente compartido potencia el disfrute de practicar al conjunto y observar los mismos gestos en diferentes personas. Cada encuentro está diseñado para que, aún dentro de la dinámica grupal, recibas indicaciones personales y ajustes que te ayuden a avanzar.
                </p>
                <p class="text-lg text-ink mb-4 leading-relaxed">
                    No necesitás experiencia previa y es una disciplina para todas las edades; lo importante a compartir el momento con el grupo que se forme. Las sesiones se convierten en un espacio vivo, construyendo una práctica que equilibra lo personal y lo colectivo.
                </p>

                <p class="text-lg text-ink mb-4 leading-relaxed ">
                    En las sesiones de Qìgōng (Chi Kung) realizamos ejercicios suaves de pie y en movimiento que equilibran la energía vital (Qi), mejoran la circulación y fortalecen la conexión mente-cuerpo. En el Tàijíquán (Tai Chi Chuan) busca las posturas y formas marciales continuas, la coordinación y la estabilidad postural. Aprenderás a cultivar una respiración profunda y armónica que sincroniza cada gesto con tu centro de gravedad.
                </p>
                <p class="text-lg text-ink mb-4 leading-relaxed">
                    Más allá de lo físico, ambas disciplinas te invitan a un estado de presencia plena: la práctica es una toma de conciencia, es un gesto en un acto meditativo, donde la mente se aquieta y el cuerpo se reconoce. Cada clase es acompañada por material grabado de los ejercicios realizados, para que puedas continuar y repasar en cualquier momento que quieras.
                </p>

                <a class="text-lg text-text-secondary leading-relaxed text-chinese-seal-red" href="https://www.instagram.com/cem.cuerpoenmovimiento/" target="_blank" rel="noopener noreferrer">
                   Las clases grupales se coordinan con el Espacio CEM, en Olaya 1518, Villa Crespo, CABA. Se dictan los los Martes (9 AM) y Viernes (20 PM) con una duración de 55 min; de un máximo de 4 personas, y se mantiene un ritmo y exigencia para ver cada clase un movimiento nuevo, y repasar una vez por mes lo aprendido. Podés consultar en la página de Instagram del CEM para estar al tanto de las fechas y horarios.
                </a>

          
        </section>

        <!--  Calendly
    <section id="reserva-clase" class="mb-16 md:mb-20 fade-in" style="animation-delay: 0.25s;">
        <div class="max-w-3xl mx-auto px-6 md:px-10 text-center">
            <h2 class="font-title text-3xl md:text-4xl text-title-ink mb-6">Reserva tu Clase</h2>
            <p class="text-lg text-ink mb-8 leading-relaxed">
                Consulta mi disponibilidad y reserva tu próxima clase de Qígōng o Tàijíquán directamente aquí. Si podes seleccionar el horario, es porque está libre, asi que ¡Espero verte pronto!
            </p>
            <p class="text-sm text-text-secondary mt-4">
                Si tienes alguna pregunta antes de reservar, no dudes en <a href="/index/#contacto" class="text-chinese-seal-red hover:underline">Contactarme</a>.
            </p>
            <div class="calendly-inline-widget " data-url="https://calendly.com/rechazaloultimo/horariosde-clases?hide_gdpr_banner=1" style="min-width:320px;height:1200px;"></div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        </div>
    </section>-->

   
    <article id="galeria-fotos-01" class="mb-16 md:mb-20 fade-in container mx-auto px-6">
            <div class="pswp-gallery-container grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6">

                        <CardGaleria 
                            imgPath="manos (1).webp" 
                            altText="manos 4"
                            width={1200}
                            height={800}
                            
                        />
                        <CardGaleria 
                            imgPath="manos (2).webp" 
                            altText="manos 4"
                             width={1200}
                            height={800}
                        />
                        
                        <CardGaleria 
                            imgPath="manos (3).webp" 
                            altText="manos 4"
                             width={1200}
                            height={800}
                        />
                        <CardGaleria 
                            imgPath="manos (4).webp" 
                            altText="Prueba 4" 
                            width={1200}
                            height={800}
                        />
                          <CardGaleria 
                            imgPath="manos (5).webp" 
                            altText="Prueba 5" 
                            width={1200}
                            height={800}
                        />
                          <CardGaleria 
                            imgPath="manos (6).webp" 
                            altText="Prueba 6" 
                            width={1200}
                            height={800}
                        />
                </div>
        </article>
   
    <article id="beneficios" class="mb-30 md:mb-20 py-12 section-bg-paper rounded-none shadow-lg fade-in">
    <div class="max-w-4xl mx-auto px-6 md:px-10">
        <h2 class="font-title text-3xl md:text-4xl text-title-ink mb-10 text-center">Beneficios de la Práctica</h2>
        <div class="grid md:grid-cols-2 gap-8 md:gap-12">
            <div>
                <h3 class="font-title text-2xl text-title-ink mb-4 flex items-center">
                    <i aria-hidden="true" class="fas fa-leaf text-2xl text-chinese-seal-red mr-3"></i>Beneficios del Qígōng
                </h3>
                <ul class="list-none text-lg text-ink space-y-3 leading-relaxed">
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Mejora de la circulación energética y liberación de bloqueos.
                    </li>
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Fortalecimiento del sistema inmunológico.
                    </li>
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Reducción del estrés y la ansiedad, promoviendo calma.
                    </li>
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Aumento de la vitalidad y la resistencia física.
                    </li>
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Mejora de la postura, flexibilidad y amplitud de movimiento.
                    </li>
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Equilibrio emocional y claridad mental.
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="font-title text-2xl text-title-ink mb-4 flex items-center">
                    <i aria-hidden="true" class="fas fa-water text-2xl text-chinese-seal-red mr-3"></i>Beneficios del Tàijíquán
                </h3>
                <ul class="list-none text-lg text-ink space-y-3 leading-relaxed">
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Desarrollo del enraizamiento y la estabilidad postural.
                    </li>
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Mejora de la coordinación y fluidez de movimiento.
                    </li>
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Potenciación de la fuerza interna a través de la suavidad.
                    </li>
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Mejora del equilibrio y la propiocepción.
                    </li>
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Integración de cuerpo, respiración e intención.
                    </li>
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Calma mental, concentración y reducción del estrés.
                    </li>
                    <li class="pl-4 py-1 border-l-4 border-chinese-seal-red">
                        Prevención y recuperación de lesiones (bajo impacto).
                    </li>
                </ul>
            </div>
            </div>
            </div>
        </article>

    <section id="Qígōng-detalle" class="mb-30 md:mb-20 fade-in" style="animation-delay: 0.4s;">
            <div class="max-w-3xl mx-auto mb-16">
                <h2 class="font-title text-3xl md:text-4xl text-title-ink mb-8 text-center">Explorando el Qìgōng (Chi Kung)</h2>
                <p class="text-lg text-ink mb-4 leading-relaxed ">
                    El Qígōng (气功), que se traduce como “trabajo o cultivo de la energía vital (Qi)”, es un arte tradicional chino que integra movimiento suave, respiración consciente y enfoque mental. Parte de la idea de que el ser humano es un puente entre el cielo y la tierra, con la capacidad de transformar y refinar su propia energía para mejorar la salud, aumentar la vitalidad y alcanzar un equilibrio duradero.
                </p>
                <a class="text-lg text-text-secondary mb-4 leading-relaxed text-chinese-seal-red" href="/pages/clases/qigong.html">
                   Más información en mi sección específica sobre Qígōng 
                </a>
                </div>
            
   
        <article id="galeria-fotos-01" class="mb-16 md:mb-20 fade-in container mx-auto px-6">
            <div class="pswp-gallery-container grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

                        <CardGaleria 
                            imgPath="qigong (1).webp" 
                            altText="qigong 1"
                            width={1200}
                            height={800}
                            
                        />
                        <CardGaleria 
                            imgPath="qigong (2).webp" 
                            altText="qigong 2"
                             width={1200}
                            height={800}
                        />
                        
                        <CardGaleria 
                            imgPath="qigong (3).webp" 
                            altText="qigong 3"
                             width={1200}
                            height={800}
                        />
                        <CardGaleria 
                            imgPath="qigong (4).webp" 
                            altText="qigong 4" 
                            width={1200}
                            height={800}
                        />

                </div>
        </article>
      
</section>

        <section id="Tàijíquán-detalle" class="mb-20 md:mb-20 fade-in" style="animation-delay: 0.4s;">
            <div class="max-w-3xl mx-auto mb-16">
                 <h2 class="font-title text-3xl md:text-4xl text-title-ink mb-8 text-center">Explorando el Tàijíquán (Tai Chi Chuan)</h2>
                 <p class="text-lg text-ink mb-4 leading-relaxed ">
                    El Tàijíquán (太极拳), o en una traduccion muy literal, “Boxeo del Supremo Último”, es un arte marcial interno de origen chino. Su fundamento radica en el principio de la armonía entre los opuestos (Yin-Yang), y su práctica está orientada a cultivar la salud, el equilibrio interno y la capacidad marcial desde una consciencia profunda del cuerpo y la energía, junto a los preceptos filosóficos del Daoísmo.
                </p>
                 <a class="text-lg text-text-secondary mb-4 leading-relaxed text-chinese-seal-red" href="/pages/clases/taiji.html">
                   Más información en mi sección específica sobre Taiji 
                </a>
            </div>
            <article id="galeria-fotos-01" class="mb-16 md:mb-20 fade-in container mx-auto px-6">
            <div class="pswp-gallery-container grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

                        <CardGaleria 
                            imgPath="chuan (1).webp" 
                            altText="chuan 1"
                            width={1200}
                            height={800}
                            
                        />
                        <CardGaleria 
                            imgPath="chuan (2).webp" 
                            altText="chuan 2"
                             width={1200}
                            height={800}
                        />
                        
                        <CardGaleria 
                            imgPath="chuan (3).webp" 
                            altText="chuan 3"
                             width={1200}
                            height={800}
                        />
                        <CardGaleria 
                            imgPath="chuan (5).webp" 
                            altText="chuan 4" 
                            width={1200}
                            height={800}
                        />
                </div>
        </article>
           
</section>
</main>
   
<script type="module" src="/src/js/photoswipe-init.js" defer></script>

<PhotoSwipeUI />
