name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ] # Confirmá si tu rama es main o master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install, build, and upload with Astro
        uses: withastro/action@v3
        with:
          path: web_personal  # <--- ESTA ES LA CLAVE: le decimos dónde está el proyecto
          package-manager: npm